<template>
	<div id="menu" :class="{withBG, standalone}">
		<div>
			<nuxt-link class="home-logo" to="/"><img src="/images/logo.png" alt="Butterfly Balloons"></nuxt-link>
		</div>
	</div>
</template>

<script>
  export default {
    name: 'Menu',
    props: {
      standalone: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    mounted() {
      if (!this.standalone) {
        this.withBG = window.scrollY >= 450
        window.addEventListener('scroll', this.handleScroll);
	  }
    },
    destroyed() {
      if (!this.standalone) {
        window.removeEventListener('scroll', this.handleScroll);
      }
    },
    data() {
      return {
        withBG: false,
      }
    },
    methods: {
      handleScroll() {
        this.withBG = window.scrollY >= 450
      }
    }
  }
</script>

<style lang="scss">
	#menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		width: 100%;
		transition: all 500ms ease;
		
		&.standalone {
			position: static !important;
			box-shadow: inset 0px -6px 9px -8px rgba(0,0,0,0.75);
			border-bottom: solid 5px #ff4500;
			background: #ffffff;
			
			a {
				color: #333 !important;
			}
		}

        @media only screen and (max-width: 767px) {
            display: none !important;
        }
		
		@media screen and (min-width: 768px) {
			a.home-logo {
				display: inline-block !important;
			}
			
			.menu-item {
				padding: 12px 15px !important;
				margin: 0 10px !important;
			}
			
			> div {
				justify-content: flex-start !important;
			}
		}
		
		&.withBG {
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.45);
			
			.menu-item {
				color: #333 !important;
			}
		}
		
		> div {
			max-width: 860px;
			margin: auto;
			display: flex;
			margin: auto;
			align-items: center;
			height: 50px;
			justify-content: center;
			
			a.home-logo {
				display: none;
				cursor: pointer !important;
				> img {
					height: 40px;
					cursor: pointer !important;
				}
			}
		}
		
		.menu-item {
			padding: 12px 10px;
			margin: 0px;
			display: inline-block;
			color: #e9fff8;
			text-decoration: none;
			font-weight: bold;
			font-size: 14px;
			cursor: pointer;
			position: relative;
			
			&.nuxt-link-exact-active {
				
				color: #f8fff9;
				
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -2px;
					height: 2px;
					
				}
				
			}
		}
	}
</style>
