<template>
	<div v-if="step >= 1" id="reservation-container">
		<div id="stepper">
			<div class="stepper-item" :class="{current: step===1}">
				<span><fa icon="check" v-if="step > 1" /><b v-else>1</b></span>
				<strong>SELECT FLIGHT</strong>
			</div>
			<div class="stepper-item" :class="{current: step===2}">
				<span><fa icon="check" v-if="step > 2" /><b v-else>2</b></span>
				<strong>PASSENGERS</strong>
			</div>
			<div class="stepper-item" :class="{current: step===3}">
				<span><fa icon="check" v-if="step > 3" /><b v-else>3</b></span>
				<strong>PAYMENT</strong>
			</div>
			<div class="stepper-item" :class="{current: step===4}">
				<span><fa icon="check" v-if="step >= 4" /><b v-else>4</b></span>
				<strong>TICKETS</strong>
			</div>
		</div>
		<div v-if="step === 1">
			<div id="flights">
				<div class="flight" v-for="flight in flights" :key="flight.ID" :class="{full: flight.Capacity < 1}">
					<span class="effect" />
					<h3>{{ flight.Name }}</h3>
					<h1>&euro;{{ flight.Price.EUR }}</h1>
					<div style="text-align: center" v-if="flight.Capacity > 0">
						<h4>Last <b>{{ flight.Capacity }}</b> Vacancies</h4>
					</div>
					<div style="text-align: center" v-else>
						<h4><b>Full or not scheduled yet</b></h4>
					</div>
					<div class="features">
						<li v-for="feature in flight.Features" :key="feature"><fa icon="check-circle" /> {{ feature }}</li>
					</div>
					<button @click="selectFlight(flight)">SELECT</button>
				</div>
			</div>
		</div>
		<div v-if="step === 2">
			<div id="step2-head">
				<button class="general warn" @click="step = step-1"><fa icon="angle-left" /> Back</button>
				<client-only>
					<div class="form-control">
						<multiselect placeholder="Passengers Count" :allowEmpty="false" :showLabels="false" style="width: 200px" v-model="passengersCount" :options="passengersOptions" label="label" track-by="value" />
					</div>
				</client-only>
			</div>
			<div id="passengers">
				<passenger v-for="index in passengersCount.value" :ref="`passenger${index}`" :id="index" :key="index" />
			</div>
			<div class="res-action-button">
				<button class="general" @click="gotoStep3">Continue <fa icon="angle-right" /></button>
			</div>
		</div>
		<div v-if="step === 3">
			
			<div id="step3-head">
				<button class="general warn" @click="step = step-1"><fa icon="angle-left" /> Back</button>
			</div>
			
			<div id="purchase-step">
				
				<div id="purchase-form">
					<VCreditCard @change="cardInformationChanged" />
					<div class="currency-selection">
						<label>Currency</label>
						<multiselect placeholder="Currency" :allowEmpty="false" :showLabels="false" v-model="currency" :options="['EUR', 'USD', 'TRY', 'GBP']"></multiselect>

                        <!-- <p style="font-size: 12px; margin-top: 15px">For now we can only accept the Turkish Lira payments, You can use any Master, Visa or AMEX card. We will not extra charge you when converting from from Euro, Dollar or Pound to Turkish Lira. We are using <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html" target="_blank">European Cental Bank</a> up to date exchange rates when converting.</p> -->
					</div>
				</div>
				<div id="purchase-details">
					<div id="cancel-policy">
						<b>Our cancellation policy</b>
						<p>If you decide to cancel your flight, you can do so without any cancellation fee up to 72 hours prior to the flight date. Should Butterfly make a cancellation due to undesirable weather conditions, all payments will receive a full refund.</p>
					</div>
					<ul id="features-list">
						<b>What is included?</b>
						<li><fa icon="check-circle" /> Reservation Date <strong>{{ date.split('-').reverse().join('.') }}</strong></li>
						<li><fa icon="check-circle" /> <strong>{{ passengersCount.value }} {{ flight.Name }} Ticket</strong></li>
						<li><fa icon="check-circle" /> Transfers with minibuses are included to the flight price</li>
						<li><fa icon="check-circle" /> Breakfast is served at our office before take-off</li>
						<li><fa icon="check-circle" /> Flight Certificate</li>
						<li><fa icon="check-circle" /> Insurance covers both the flight and ground handling and is included. ( 40 Million Euro ) <a href="/insurance.pdf" target="_blank" download="insurance.pdf">View Policy</a></li>
					</ul>
					<div id="purchase">
						<div>
							<img src="/images/cards.png" alt="cards" height="50px">
							<img src="/images/3dsecure.png" alt="3d secure" height="50px">
						</div>
						<div id="purchase-section">

                            <div id="coupon-section">
                                <b>Do you have discount coupon?</b>

                                <div v-if="!couponApplied" :class="{loading:couponLoading}">
                                    <input type="text" v-model="couponCode">
                                    <button class="general" type="button" :disabled="couponLoading" @click="applyCoupon">
                                        <template v-if="!couponLoading">
                                            Apply
                                        </template>

                                        <fa v-else icon="spinner" class="fa-spin" />
                                    </button>
                                </div>

                                <span v-if="couponIsInvalid">Coupon code is invalid or redeemed before</span>

                                <div v-if="couponApplied" class="applied-coupon">
                                    Thank you, your discount applied!
                                </div>
                            </div>

							<div id="purchase-section-checkbox"><input type="checkbox" v-model="accepted"> I accept the terms and sales contract</div>
							<div style="text-align: center">
								<button class="general pay-button" :disabled="paymentIFRAME || accepted === false" @click="pay">
									<span class="pay-now">{{ paymentIFRAME ? 'LOADING..' : 'PAY NOW' }}</span>
									<span class="price" v-if="!paymentIFRAME">{{ totalPrice }} {{ currency }}</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		<div v-if="step === 4">
			<div id="tickets">
				<div class="ticket-item" v-for="ticket in tickets" :key="ticket._id">
					<div>
						<div>
							<label>Reservation ID</label>
							<span>{{ ticket.TID }}</span>
						</div>
						<div>
							<label>Name</label>
							<span>{{ ticket.Name }}</span>
						</div>
					</div>
					<div>
						<div>
							<label>Email</label>
							<span>{{ ticket.Email }}</span>
						</div>
						<div>
							<label>Phone</label>
							<span>{{ ticket.Phone }}</span>
						</div>
					</div>
					<div>
						<div>
							<label>Age</label>
							<span>{{ ticket.Age }}</span>
						</div>
						<div>
							<label>Date</label>
							<span>{{ date.split('-').reverse().join('.') }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="res-action-button">
				Your reservation details has been sent
			</div>
		</div>
		
		<div v-show="paymentIFRAME" id="payment_box">
			<iframe id="pay_iframe"></iframe>
			<button type="button" id="iframe_close" @click="$store.commit('closeIFRAME')"><fa icon="times" /></button>
		</div>
	</div>
</template>

<script>
  import Passenger from "./Passenger";
  import VCreditCard from 'v-credit-card';
  import 'v-credit-card/dist/VCreditCard.css';
  export default {
    name: 'Reservation',
    components: {Passenger, VCreditCard},
	mounted() {
      window.closePaymentModal = (tickets) => {

        this.tickets = JSON.parse(tickets)
		this.step = 4
		this.$store.commit('closeIFRAME')
		
      }
	},
    data() {
      return {
        date: null,
        flights: [],
        passengers: [],
        currencies: {},
        token: null,
        step: 0,
        flight: null,
        accepted: false,
        loading: false,
        currency: 'TRY',
        couponLoading: false,
        couponApplied: false,
        couponIsInvalid: false,
        couponCode: '',
        card: {
          name: "",
          cardNumber: "",
          expiration: "",
          security: ""
        },
		passengersCount: {
          label: '1 Passenger',
		  value: 1
		},
		tickets: []
      }
    },
	computed: {
      paymentIFRAME() {
        return this.$store.state.paymentIFRAME
	  },
      passengersOptions() {
        if (!this.flight) return []
        let options = []
        for (let i = 1; i <= this.flight.Capacity; i++) {
          if (i >= 5) break;
          options.push({
            label: `${i} Passenger`,
            value: i
          })
        }
        return options
      },
      totalPrice() {
          if (this.couponApplied) return (this.flight.Price[this.currency] * this.passengersCount.value * 0.9).toFixed(2)
        return (this.flight.Price[this.currency] * this.passengersCount.value)
      }
	},
    methods: {
        applyCoupon() {
            this.couponLoading = true;

            this.$axios.post('/buy/coupon', {
                token: this.token,
                code: this.couponCode,
            }).then(response => {
                console.log(response.data);
                this.couponApplied = true;
            }).catch(() => {
                this.couponCode = null;
            }).then(() => {
                this.couponLoading = false;
            })
        },
      setup(date) {
        //YYYY-MM-DD
        this.date = date
        this.step = 0
        this.flights = []
        this.passengers = []
        this.tickets = []
        this.token = null
        this.flight = null
        this.accepted = false
        this.currencies = {}
        this.currency = 'EUR'
        this.passengersCount = {
          label: '1 Passenger',
          value: 1
        }
        this.card = {
          name: "",
          cardNumber: "",
          expiration: "",
          security: ""
        }

        this.$axios.$post('/buy/capacity', {date: this.date}).then(response => {

          this.flights = response.data.flights
          this.currencies = response.data.currencies
          this.token = response.data.token
          this.step = 1

          if (window.innerWidth <= 768) {
            setTimeout(() => {
                document.getElementById('stepper').scrollIntoView();
            }, 100)
          }

        }).catch(e => {


        })

      },
      selectFlight(flight) {
        this.flight = flight
		
		this.step = 2
	  },
      async gotoStep3() {
        const passengers = []
        for (let i = 1; i <= this.passengersCount.value; i++) {
          const passenger = await this.$refs['passenger' + i][0].validate()
          if (passenger) passengers.push(passenger)
        }
        if (this.passengersCount.value === passengers.length) {
          this.passengers = passengers
          this.step = 3
          setTimeout(() => {
              try {
                window.document.getElementById('name').setAttribute('maxlength', 120)
            } catch(e) {
                console.log('cannot changed maxlength', e)
            }
          }, 1500)
        }

      },
      cardInformationChanged(card) {
        card.cardNumber = card.cardNumber.replace(/\s/g, '');
        this.card = card
      },
      pay() {
        this.$axios.$post('/buy/3d', {
          date: this.date,
          token: this.token,
          total: this.totalPrice,
          card: this.card,
          currency: this.currency,
          flight: this.flight.ID,
          passengers: this.passengers,
          coupon: this.couponApplied ? this.couponCode : null,
        }).then(response => {

          document.getElementById('pay_iframe').src = "data:text/html;charset=utf-8," + response.data.form
		  this.$store.commit('openIFRAME')

        }).catch(error => {
		  

        }).then(() => {
		  

        })
      }
    }
  }
</script>

<style lang="scss">
    #coupon-section {
        padding: 35px 0;
        text-align: center;

        > div {
            position: relative;
            margin-top: 15px;

            &.loading {
                opacity: 0.6;
                pointer-events: none;
            }

            > input {
                padding: 10px 16px;
                border: 1px solid #dcdcdc;
                border-radius: 3px;
            }

            > button {
                background: #06f;
                padding: 10px 25px;
                font-size: 13px;
            }
        }

        span {
            display: block;
            color: orangered;
            margin-top: 15px;
        }

        .applied-coupon {
            color: rgb(11, 155, 18);
        }
    }

	#tickets {
		display: block;
		
		.ticket-item {
			border-radius: 4px;
			box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 2px 0 rgba(78,83,90,.1);
			background: #fefefe;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			
			> div {
				flex: 1;
				padding: 5px;
				
				label {
					display: block;
					font-size: 13px;
					font-weight: bold;
					color: #6a7183;
					margin-bottom: 5px;
				}
				
				span {
					display: block;
					font-size: 15px;
					color: #535353;
					margin-bottom: 5px;
				}
			}
		}
	}
	
	#payment_box {
		width: 500px;
		height: 500px;
		background: #fff;
		border: solid 1px #9c9c9c;
		position: fixed;
		z-index: 99999;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		
		> button {
			position: absolute;
			right: -10px;
			top: -10px;
			width: 24px;
			height: 24px;
			background: crimson;
			border-radius: 50%;
			color: #fff;
			cursor: pointer;
		}
		
		> iframe {
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
		}
	}
	
	#reservation-container {
		margin: 50px auto;
		max-width: 860px;
		padding: 15px;
		
		.pay-button {
			&:disabled {
				pointer-events: none;
				opacity: 0.5;
			}
		}
		
		#purchase {
			margin-top: 20px;
			text-align: center;
			
			#purchase-section-checkbox {
				padding: 15px 0;
				color: #3e414c;
				font-size: 14px;
			}
		}
		
		#cancel-policy {
			color: #333;
			
			b {
				color: #575c6b;
				display: block;
				margin-bottom: 20px;
			}
			
			p {
				font-size: 13.5px;
				padding-bottom: 10px;
			}
		}
		
		#features-list {
			color: #333;
			list-style: none;
			
			svg {
				color: #279b41;
				margin-right: 10px;
			}
			
			a {
				color: #25619e;
				cursor: pointer !important;
			}
			
			li {
				font-size: 13.5px;
				padding: 6px 0;
			}
			
			b {
				color: #575c6b;
				display: block;
				margin-bottom: 20px;
				margin-top: 10px;
			}
		}
		
		#purchase-step {
			display: flex;
			flex-wrap: wrap;
			
			.currency-selection {
				padding: 0 20px;
				max-width: 400px;
				margin: -10px auto 0 auto;
				
				label {
					padding-bottom: 5px;
					font-size: 13px;
					display: block;
					color: #707070;
				}
				
				.multiselect__tags {
					border: 1px solid #dcdcdc;
				}
			}
			
			div#purchase-form {
				width: 100%;
			}
			
			div#purchase-details {
				flex: 1 1 auto;
				padding-top: 20px;
			}
			
			@media screen and (min-width: 768px) {
				flex-wrap: nowrap;
				
				div#purchase-form {
					min-width: 400px;
				}
				
				div#purchase-details {
					flex: 1 1 auto;
					padding: 16px 0 0 20px;
				}
			}
		}
		
		.res-action-button {
			text-align: center;
			margin-top: 25px;
		}
		
		#step2-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 25px;
		}
		
		#step3-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 25px;
		}
		
		#passengers {
			display: flex;
			flex-wrap: wrap;
			
			> span {
				flex: 1 1 100%;
				border-radius: 4px;
				box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 2px 0 rgba(78,83,90,.1);
				background: #fefefe;
			}
			
			@media screen and (min-width: 768px) {
				> span {
					flex: 1 1 192px;
					padding: 10px;
				}
			}
		}
		
		#stepper {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			border-bottom: solid 1px #e8e8e8;
			padding-bottom: 15px;
			margin-bottom: 20px;
			flex-wrap: wrap;
			
			.stepper-item {
				display: flex;
				align-items: center;
				margin: 4px;
				
				&.current {
					strong {
						color: #333;
					}
				}
				
				span {
					border: solid 1px #279b41;
					border-radius: 50%;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 32px;
					height: 32px;
					color: #279b41;
					margin-right: 20px;
				}
				
				b {
					font-weight: bold;
					text-decoration: none;
				}
				
				strong {
					color: #a1a1a1;
				}
			}
		}
		
		.reservation-title {
			color: #575c6b;
			font-weight: bold;
			font-size: 17px;
			text-align: center;
			margin-bottom: 25px;
		}
		
		#flights {
			display: flex;
			flex-wrap: wrap;
			
			.flight {
				flex: 1 1 256px;
				/*border: solid 1px #ccc;*/
				box-sizing: border-box;
				margin: 5px;
				border-radius: 4px;
				box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 2px 0 rgba(78,83,90,.1);
				background: #fefefe;
				padding: 15px 15px 100px 15px;
				overflow: hidden;
				position: relative;
				
				&.full {
					pointer-events: none;
					user-select: none;
					
					> button, span {
						opacity: 0.3;
					}
					
					h4 {
						background: #dcadb0;
						color: darkred;
					}
				}
				
				> button {
					width: 150px;
					display: inline-block;
					position: absolute;
					bottom: 40px;
					left: 50%;
					transform: translateX(-50%);
					background: #06f;
					color: #fff;
					box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
					border-radius: 3px;
					padding: 10px 15px;
					font-size: 1rem;
					border: none;
					cursor: pointer;
					font-weight: bold;
					outline: none;
				}
				
				> span.effect {
					content: '';
					position: absolute;
					background: #eeeeee;
					left: -150px;
					right: -150px;
					bottom: -150px;
					height: 200px;
					z-index: 0;
					transform: rotate(-8deg);
				}
				
				h1 {
					text-align: center;
					color: #2e2e2e;
					font-size: 32px;
					margin-bottom: 15px;
				}
				h3 {
					text-align: center;
					color: #808080;
					font-size: 17px;
					margin-bottom: 10px;
				}
				h4 {
					display: inline-block;
					padding: 5px 10px;
					border-radius: 5px;
					background: #eeeeee;
					font-size: 13px;
					margin-bottom: 20px;
					color: #555555;
					font-weight: normal;
					
					b {
						font-weight: bold !important;
					}
				}
				
				.features {
					list-style: none;
					
					li {
						color: #5e5e5e;
						font-size: 14px;
						margin: 5px 0;
						
						svg {
							margin-right: 10px;
							color: #279b41;
						}
					}
				}
			}
		}
	}
</style>
